@model IEnumerable<AguasSetubal.Models.Contador>

@{
    ViewData["Title"] = "Contadores";
}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h4 class="">@ViewData["Title"]</h4>
            <a asp-action="Create" class="btn btn-primary">Criar novo contador</a>
        </div>
        <div class="col-12">
            <div class="card shadow-lg mt-3">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumeroContrato)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MoradaLocal)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumeroContador)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DataInstalacao)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cliente)
                                    </th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumeroContrato)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MoradaLocal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumeroContador)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataInstalacao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cliente.Nome)
                                        </td>
                                        <td class="text-center">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mx-1"><i class="fas fa-edit"></i></a>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mx-1"><i class="fas fa-search"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm mx-1"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


