@model AguasSetubal.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCartaoCidadao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroCartaoCidadao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactoTelefonico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactoTelefonico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroContrato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroContador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroContador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

