@model AguasSetubal.Models.RequisicaoContador

@{
    ViewData["Title"] = "Delete";
}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg mt-3 scroll">
                <div class="card-body">
                    <h4>RequisicaoContador</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Morada)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Morada)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Contato)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Contato)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IsResidencial)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IsResidencial)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IsEmpresarial)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IsEmpresarial)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataRequisicao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataRequisicao)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IsValid)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IsValid)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IsRequested)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IsRequested)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
