@model AguasSetubal.Models.Cliente

@{
    ViewData["Title"] = "Detalhes do Cliente";
}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg mt-3 scroll">
                <div class="card-body">
                    <h4 class="card-title text-center">Informações do Cliente</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.Nome)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nome)</dd>

                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.MoradaFaturacao)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.MoradaFaturacao)</dd>

                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.NumeroCartaoCidadao)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.NumeroCartaoCidadao)</dd>

                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.NIF)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.NIF)</dd>

                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.ContactoTelefonico)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.ContactoTelefonico)</dd>
                    </dl>
                    <div class="text-center mt-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-lg">Editar</a>
                        <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar à Lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>