@model AguasSetubal.Models.Fatura

@{
    Layout = null; // Remove o layout para impressão
}

<div class="invoice">
    <h1 class="text-center company-name">Águas de Setúbal</h1>
    <h2 class="text-center invoice-title">Fatura para Pagamento</h2>

    <div class="invoice-details">
        <p><strong>Nome do Cliente:</strong> @Model.Cliente.Nome</p>
        <p><strong>Nº contrato:</strong> @Model.Contador.NumeroContrato</p>
        <p><strong>Nº contador:</strong> @Model.Contador.NumeroContador</p>
        <p><strong>Endereço:</strong> @Model.Contador.MoradaLocal</p>
        <p><strong>Data de Emissão:</strong> @Model.DataEmissao.ToString("dd/MM/yyyy")</p>
        <br />
        <br />
        <hr />
        <p><strong>Escalão:</strong> @Model.Descritivo</p>
        <p><strong>Consumo:</strong> @Model.ConsumoTotal</p>
        <p><strong>Valor unitário:</strong> @Model.ValorUnitario</p>
        <p><strong>Valor Total:</strong> @Model.ValorTotal</p>
        <hr />
        <br />
        <br />
        @* Adicionando as linhas de Entidade e Referência *@
        <p><strong>Entidade:</strong> 100 200 300</p>
        <p><strong>Referência:</strong> 25 36 @Model.Id</p>
        <p><strong>Valor Total a Pagar (€):</strong> @Model.ValorTotal.ToString("F2")</p>
        <p><strong>Referência Interna:</strong> STB-@Model.Id</p>
    </div>

    <div class="text-center mt-5">
        <button onclick="window.print();" class="btn btn-primary btn-lg">Imprimir Fatura</button>
    </div>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #e6f2ff; /* Tom suave de azul */
    }

    .invoice {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
    }

    .company-name {
        color: #004080; /* Azul marinho */
        font-size: 2.5rem; /* Tamanho maior que o título da fatura */
        margin-bottom: 0; /* Remove espaço embaixo */
    }

    .invoice-title {
        color: #2E8B57; /* Verde marinho */
        font-size: 2rem; /* Tamanho ligeiramente menor que o nome da empresa */
        margin-top: 0; /* Remove espaço acima */
    }

    .invoice-details {
        margin-top: 20px;
    }

        .invoice-details p {
            font-size: 1.1rem;
            margin-bottom: 10px;
        }

    .text-center {
        text-align: center;
    }
</style>

