@model AguasSetubal.Models.Fatura

@{
    ViewData["Title"] = "Detalhes da Fatura";
}

<h1>Detalhes da Fatura</h1>

<div>
    <h4>Fatura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeituraContador.LeituraAnterior)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeituraContador.LeituraAnterior)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeituraContador.LeituraAtual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeituraContador.LeituraAtual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeituraContador.Consumo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeituraContador.Consumo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar à Lista</a>
</div>


