@model AguasSetubal.Models.Fatura

<h1>Detalhes da Fatura</h1>

<div>
    <h4>Fatura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome do Cliente
        </dt>
        <dd class="col-sm-10">
            @Model.Cliente.Nome
        </dd>
        <dt class="col-sm-2">
            Endereço
        </dt>
        <dd class="col-sm-10">
            @Model.Cliente.Endereco
        </dd>
        <dt class="col-sm-2">
            Data da Fatura
        </dt>
        <dd class="col-sm-10">
            @Model.DataEmissao.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            Consumo de Água (m³)
        </dt>
        <dd class="col-sm-10">
            @Model.LeituraContador.Consumo m³
        </dd>
        <dt class="col-sm-2">
            Valor Total (€)
        </dt>
        <dd class="col-sm-10">
            @Model.ValorTotal.ToString("C")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

