@model IEnumerable<AguasSetubal.Models.Fatura>

@{
    ViewData["Title"] = "Faturas";
}

<h1>Faturas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create Fatura</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cliente.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.DataEmissao)</th>
            <th>Leitura Anterior</th>
            <th>Leitura Atual</th>
            <th>M3Gastos</th>
            <th>@Html.DisplayNameFor(model => model.Endereco)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Cliente.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.DataEmissao)</td>
                <td>@Html.DisplayFor(modelItem => item.LeituraAnterior)</td>
                <td>@Html.DisplayFor(modelItem => item.LeituraAtual)</td>
                <td>@Html.DisplayFor(modelItem => item.M3Gastos)</td>
                <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>










